@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

.bg-gold {
  background-color: #CDAA7D;
}

.text-gold {
  color: #CDAA7D;
}